body {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

}

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

a:active {
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}


hr {
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

ul {
    margin: 0;
}

p {
    margin: 0;
}

header {
    background-color: #4F4F4F;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

}

#navigation {
    background-color: #EB5757;
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #4F4F4F;
    color: white;
    text-align: center;
    padding: 30px;
}

#wrapper{
    background-color: #828282;    
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#contents {
    /* background-color: blue; */
    width: 600px;
}

#ad {
    /* background-color: #EB5757; */
    flex-grow: 1;
    padding-top: 30px;
}

#download {
    /* background-color: #6FCF97; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.player{
    margin: 10px;
}

.filename {
    padding: 20px;
}

.menu {
    padding: 10px;
    text-align: center;
}

#main {
    color: white;
    padding: 20px;
}

.error {
    color: #EB5757;
}

.warning {
    color: #F2C94C;
}

.good {
    color: #6FCF97;
}

section {
    margin-bottom: 60px;
}